@model StockManagment.Models.Product

@{
    ViewBag.Title = "ProductDetails";
}
<title>Products Details</title>
<h2>Product Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Product Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayName("Product Quantity")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductQuantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateProduct", "Product", new { id = Model.id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Cancel", "DisplayProduct", "Product", new { @class = "btn btn-danger" })
</p>
